---
import type { GetStaticPathsOptions, Page } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";

import PostCard from "../../components/blog/post-card.astro";
import MainLayout from "../../components/layout/page-layout.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const publishedBlog = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  });

  const posts: CollectionEntry<"blog">[] = publishedBlog.sort(
    (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
  );

  return paginate(posts, {
    pageSize: 10,
  });
}

const { page } = Astro.props as { page: Page<CollectionEntry<"blog">> };

const pageDataLength = () => {
  if (page.currentPage === 1) {
    return page.data.length;
  } else if (page.currentPage === page.lastPage) {
    return page.total;
  } else {
    return 10 + page.data.length;
  }
};
---

<MainLayout
  title="Blog"
  description="Posts regarading frontend, firebase, reactjs, nextjs"
>
  <section class="mt-10">
    <h1 class="text-3xl text-center font-bold">Latest Posts</h1>

    <div class="my-10 grid grid-cols-1 md:grid-cols-2 gap-5">
      {
        page.data.map((post) => (
          <PostCard
            title={post.data.title}
            description={post.data.description}
            slug={post.slug}
            publishedDate={post.data.publishedDate}
          />
        ))
      }
    </div>

    <div>
      <p class="text-center font-semibold mb-5">
        Showing{" "}{pageDataLength()} posts out of{" "}
        {page.total}
      </p>
      <div class="mb-5 flex items-center justify-center gap-5">
        {
          page.url.prev ? (
            <a
              href={`${page.url.prev}/`}
              class="bg-blue-600 px-5 py-2 rounded-md  text-white"
            >
              Previous
            </a>
          ) : (
            <span class="bg-gray-600 cursor-not-allowed px-5 py-2 rounded-md  text-white">
              Previous
            </span>
          )
        }
        {
          page.url.next ? (
            <a
              class="bg-blue-600 px-5 py-2 rounded-md text-white"
              href={`${page.url.next}/`}
            >
              Next
            </a>
          ) : (
            <span class="bg-gray-600 cursor-not-allowed px-5 py-2 rounded-md  text-white">
              Next
            </span>
          )
        }
      </div>
    </div>
  </section>
</MainLayout>
