---
import PostHeader from "../blog/post-header.astro";
import MainHeader from "./main-header.astro";
import Navbar from "../navbar.astro";
import "@fontsource-variable/inter";
import "../../global.css";
import Footer from "../footer.astro";
import NewPostHeader from "../blog/new-post-header.astro";

interface Props {
  title: string;
  description: string;
  publishedDate: Date;
  updatedDate: Date;
  ogImage: string | undefined;
}

const { title, description, publishedDate, updatedDate, ogImage } = Astro.props;

// formatting the dates and adding random time
const formattedPublishedDate = `${
  new Date(publishedDate).toISOString().split("T")[0]
}:T13:50:13+00:00`;
const formattedUpdatedDate = `${
  new Date(updatedDate).toISOString().split("T")[0]
}:T16:52:29+00:00`;
---

<!doctype html>
<html class="dark" lang="en">
  <MainHeader {title} {description} {ogImage}>
    <meta property="article:published_time" content={formattedPublishedDate} />
    <meta property="article:modified_time" content={formattedUpdatedDate} />
    <link rel="stylesheet" href="/prism-dracula.css" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4587134058392926"
      crossorigin="anonymous"></script>
  </MainHeader>

  <body>
    <Navbar />

    <main class="md:mx-auto md:px-7 px-4 pb-2 w-full">
      <section
        class="max-w-7xl md:w-[85%] lg:w-full mx-auto post-content text-[19px]"
      >
        {
          process.env.NODE_ENV === "production" &&
            process.env.SHOW_ADS &&
            process.env.SHOW_POST_HEADER_AD && (
              <>
                <ins
                  class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-4587134058392926"
                  data-ad-slot="7175656160"
                  data-ad-format="auto"
                  data-full-width-responsive="true"
                />
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </>
            )
        }
        <NewPostHeader {title} {publishedDate} {updatedDate} />

        <slot />
      </section>
    </main>

    {
      process.env.NODE_ENV === "production" &&
        process.env.SHOW_ADS &&
        process.env.SHOW_POST_FOOTER_AD && (
          <>
            <ins
              class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-4587134058392926"
              data-ad-slot="2972116450"
              data-ad-format="auto"
              data-full-width-responsive="true"
            />
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
          </>
        )
    }
    <Footer />
  </body>
</html>
